*{
	margin:0;
	padding:0;
	border: 0;
	color:white;
	text-decoration: none;
	box-sizing:border-box;
}
body{
	background-image:url(imagens/aaa.jpg);
	overflow:hidden
}
#mememan{
	background-image:url(imagens/mememan.png);
	height:194px;
	width:194px;
	animation-name:aaa;
	position:relative;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
@keyframes aaa{
	0% { left:0px; top:0px;}
	25%{ left:100%; top:0px;}
	50%{ left:100%; top:100%;}
	75%{ left:0px; top:100%;}
	100%{left:0px; top:0px;transform:rotate(720deg); }
}
p{
	position:absolute;
	top:50%;
	left:50%;
	color:black;

}
