*{
	margin:0;
	padding:0;
	border: 0;
	text-decoration: none;
	box-sizing:border-box;
}
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#header{
	text-align:center;
	position:relative;
	height:50px;
	border:0;
	color:white;
	text-shadow: 4px 5px 1px rgba(0,0,0,.9);
}
#navigation ul{
	text-align:center;
	list-style-type:none;
    overflow: hidden;
	}	
#navigation li {
	display:inline-block;
	font-size:25px;
	margin:-4;
	padding:2px;
}
#navigation li a{
	padding: 14px 16px;
	color:white;
}
#navigation li a:hover{
	background-color:#444444;
	cursor:pointer;
}
.active{
	background-color:red;
}
#main{
	position:fixed;
	height:100%;
	width:100%;
	overflow:hidden;
	left: 0;
    top: 0;
	background-image:url(imagens/spaace.jpg);
	text-align:center;
}
#registro{
	color:white;
	text-align:center;
	right:40%;
	top:45%;
	float:left;
	position:fixed;
}
#btnregistro{
	padding:10px;
	background-color:#737c8c;
	display:block;
}
#btnregistro:hover{
	background-color:#4d535e;

}
#erro{
	background-image:url(imagens/dyes.jpg);
	position:absolute;
	height:100%;
	width:100%;
	display:none;
}
#bom{
	background-image:url(imagens/thank.png);
	background-repeat:no-repeat;
	position:relative;
	height:100%;
	width:100%;
	display:none;
}
#bom2{
	left:65%;
	top:40%;
	position:absolute;
}