*{
	margin:0;
	padding:0;
	border: 0;
	color:white;
	text-decoration: none;
	box-sizing:border-box;
}
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#header{
	text-align:center;
	position:relative;
	width:100%;
	height:50px;
	background-color:#333333;
	border:0;
	text-shadow: 4px 5px 1px rgba(0,0,0,.9);
		background-image:url(imagens/spaace.jpg);
}
#navigation ul{
	text-align:center;
	background-color:#4c4c4c;
	list-style-type:none;
    overflow: hidden;
	background-image:url(imagens/spaace.jpg);
	}	
#navigation li {
	display:inline-block;
	font-size:25px;
	background-color:#4c4c4c;
	margin:-4;
	padding:2px;
}
#navigation li a{
	padding: 14px 16px;
}
#navigation li a:hover{
	background-color:#444444;
	cursor:pointer;
}
.active{
	background-color:red;
}
#bigboye{
	background-image:url(imagens/spaace.jpg);
}
#main{
	position:relative;
	height:100%;
	background-image:url(imagens/spaace.jpg);
	text-align:center;
	margin:auto;
}
#footer{
	text-align:center;
	position:absolute;
	width:100%;
	top:100%;
	background-color:#333333;
}
#bordaredonda{
	border-radius: 25px;
	background-color:white;
	background-position:bottom left;
    padding:10px; 
    width: 250px;
    height: 100px; 
	color:green;
	position:absolute;
	left:80%;
	top:10px;
}
#bolinha{
	border-radius: 50%;
    background: white;
	background-image:url(imagens/download.png);
	background-position:bottom;
    padding: 20px; 
    width: 150px;
    height: 150px;
	overflow:auto;
	left:0;
}
#bolinha:hover{
	height:100%;
	width:100%;
	transition: width 2s, height 4s;
}
#botaum{
	border-radius:25px;
	display:inline-block;
	font-size:25px;
	background-color:#4286f4;
	padding:20px;
	box-shadow: 4px 5px 1px rgba(0,0,0,.9);
	position:absolute;
	top:50%;
	left:45%;
}
#botaum:hover{
	box-shadow: 2px 1.5px .5px rgba(0,0,0,.9);
}
#botaum:active{
	box-shadow:0px 0px 0px 
}
#botaomeme{
	border-radius:25px;
	display:inline-block;
	font-size:25px;
	background-color:#f93939;
	padding:20px;
	box-shadow: 4px 5px 1px rgba(0,0,0,.9);
	position:absolute;
	top:590px;
	top:80%;
	left:45%;
}
#botaomeme:hover{
	box-shadow: 2px 1.5px .5px rgba(0,0,0,.9);
}
#botaomeme:active{
	box-shadow:0px 0px 0px 
}
#divman{
	background: white;
	background-image:url(imagens/angry.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
    padding: 20px; 
    width: 600px;
    height: 458px;
	text-align:center;
	overflow:auto;
	display:none;
}