*{
	margin:0;
	padding:0;
	border: 0;
	color:white;
	text-decoration: none;
	box-sizing:border-box;
}
body{
font-family: Verdana, Arial, Helvetica, sans-serif;
}
#header{
	text-align:center;
	position:relative;
	top:0;
	width:100%;
	height:50px;
	background-color:#333333;
	border:0;
	text-shadow: 4px 5px 1px rgba(0,0,0,.9);
}
#navigation ul{
	text-align:center;
	background-color:#4c4c4c;
	list-style-type:none;
    overflow: hidden;
	}	
#navigation li {
	display:inline-block;
	font-size:25px;
	background-color:#4c4c4c;
	margin:-4;
	padding:2px;
}
#navigation li a{
	padding: 14px 16px;
}
#navigation li a:hover{
	background-color:#444444;
}
.active{
	background-color:red;
}
#main{
	position:relative;
	height:100%;
	background-color:#777777;
}
#meio{
	text-align:center;
	margin:auto;
	position:relative;
	height:100%;
	width:50%;
}
#conteudo1{
	left:0;
	position:absolute;
	HEIGHT:100%;
	width:25%;
	top:0;
	background:linear-gradient(black,#777777,white);
}
#conteudo2{
	right:0;
	height:100%;
	position:absolute;
	width:25%;
	top:0;
	background:linear-gradient(to right, black,#777777,white);

}
#footer{
	text-align:center;
	position:relative;
	width:100%;
	top:100%;
	background-color:#333333;
}
#bordaredonda{
	border-radius: 25px;
    background-image:url(imagens/images.png);
	background-repeat:no-repeat;
	background-color:white;
	background-position:bottom left;
    padding: 20px; 
    width: 250px;
    height: 300px; 
	color:green;
}
#bolinha{
	border-radius: 50%;
    background: white;
	background-image:url(imagens/download.png);
	background-position:bottom;
	background-repeat:no-repeat;
    padding: 20px; 
    width: 100px;
    height: 100px;
	text-align:center;
	overflow:auto;
	color:green;
}
#bolinha:hover{
	height:200px;
	width:335px;
	transition: width 2s, height 4s;
}
#deuspepe{
	background: white;
	background-image:url(imagens/god.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
    padding: 20px; 
    width: 675px;
    height: 662px;
	text-align:center;
	overflow:auto;

}
#botaum{
	border-radius:25px;
	display:inline-block;
	font-size:25px;
	background-color:#4286f4;
	padding:20px;
	box-shadow: 4px 5px 1px rgba(0,0,0,.9);
}
#botaum:hover{
	box-shadow: 2px 1.5px .5px rgba(0,0,0,.9);
}
#botaum:active{
	box-shadow:0px 0px 0px 
}